*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}
header{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-div{
  height: 60px;
}
nav{
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
  /* border: 1px solid ; */
}
nav ul {
  display: flex;
}
nav ul li {
  font-weight: 500;
  font-size: 1.5rem;
  list-style: none;
  padding-left: 20px;
  padding-top: 5px;
}
nav ul li:hover{
  cursor: pointer;
  color: rgb(98, 184, 98) ;
  text-decoration: underline;
  text-decoration-color: rgb(196, 249, 195);
  text-underline-offset: 5px;
}
.bdiv{
  align-items: end;
  display: flex;
  gap: 20px;
}
button{
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid;
}
#serch{
  width: 330px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 25px; */
  /* font-weight: 500;
  font-size: 1rem; */
  padding: 20px;
  margin-left: 25px;
  list-style: none;
  border-radius: 50px;
  border: 2px solid black;
}
#serch:hover{
  text-decoration: none;
  color: black;
}
li>input{
  outline: none;
  width: 300px;
  border: none;
  background: none;
  font-size: 18px;
  padding: 5px;
}
.fa-solid{
  justify-content: center;
  /* border: 2px solid  black; */
  padding: 7px ;
  padding-right: 30px ;
  /* border-left: none; */
  border-radius: 0 10px 10px 0px;
}
.fa-magnifying-glass:hover{
  cursor: pointer;
  text-decoration: none;
  color: rgb(98, 184, 98);
  text-decoration-line: none;
}
.hamburgur{
  font-size: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
  font-weight: bold;
  background-color: rgb(196, 249, 195);
  transition: 0.3s cubic-bezier(0.25, 1.5, 0.5, 1);
}
 .hamburgur:hover{
  background-color: rgb(98, 184, 98);
  color: white;
  border: 2px solid black;
  transform: scale(1.1);
}
 .b1{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  border-radius: 40px;
  border: 2px solid;
  background-color:  rgb(196, 249, 195);
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.25, 1.5, 0.5, 1);
 }
 .b1:hover{
  background-color: rgb(98, 184, 98);
  color: white;
  border: 2px solid black;
  transform: scale(1.1);
}
.b1>i{
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.b2{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  border-radius: 40px;
  border: 2px solid;
  background-color:  rgb(196, 249, 195);
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.25, 1.5, 0.5, 1);
}
.b2:hover{
  background-color: rgb(98, 184, 98);
  color: white;
  border: 2px solid black;
  transform: scale(1.1);
}
.b2>i{
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#b1{
 justify-content: flex-start;
  margin-left: 10px;
}
#b2{
  justify-content: flex-end;
  margin-right: 20px;
}
#carouselDesktop{
  margin: 40px;
}
.imgchange{
  border-radius: 30px;
}
 .card-heading{
  display: flex;
  justify-content: space-between;
  align-items: s;
 }
.fw-bold{
  padding: 5px;
  margin-left: 10px;
  font-size: 4vw;
  text-transform: uppercase;
}
.card-heading input{
  border: 2px solid black;
  margin: 5px 25px;
  height: 4em;
  width: 6em;
  border-radius: 30px;
  text-transform: uppercase;
  background-color:  rgb(196, 249, 195);
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.25, 1.5, 0.5, 1);
}
.card-heading input:hover{
  background-color: rgb(98, 184, 98);
  color: white;
  border: 2px solid black;
  transform: scale(1.1);
}
.card-body h3{
  text-transform: uppercase;
}
.card img{
  transition: all 0.4s ease;
}
.card img:hover{
  transform: scale(1.1);
}
.container2{
  border: 1px solid black;
  height: 100%;
  width: auto;
  margin: 20px 40px;
  border-radius: 20px;
  background-color: #FEC8D0;
}
.container-right{
  height: 100%;
  width: 50%;
  margin: auto 20px;
}
.container-left{
  height: 100%;
  width: 50%;
}
.container-left img{
  width: 100%;
  height: 100%;
}
.container-right div ul li img{
  margin-right: 20px;
  height: 60px;
  width: 60px;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.container-3-heading{
  margin: 0px auto;
  align-items: center;
}
.container-3-heading h1{
  margin-top: 100px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 45px;
}
.container-3-heading img{
  width: 150px;
  height: 150px;
  position: relative;
  top: 90px;
  right: 60px;
}
.box1 img{
  background-color: #FEC8D0;
}
.box4 img{
  background-color: #C3DFFF;
}
.box6 img{
  background-color: #FEE79C;
}
footer {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #C8D400;
  margin: 40px;
  padding: 20px;
}

/* ----- TOP AREA ----- */
.footer-contant-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-img-div {
  margin: 25px;
  height: 60px;
}

.footer-contant-1-text {
  margin: 25px;
  text-align: center;
}

.footer-contant-1-text h2 {
  font-weight: bold;
  font-size: 40px;
}

.footer-icons i {
  border: 1px solid;
  border-radius: 5px;
  background-color: #B8C301;
  padding: 10px 30px 10px 10px;
  margin: 5px;
  font-size: 25px;
  display: inline-block;
}

/* ----- MIDDLE AREA ----- */
.footer-contant-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.footer-contant-colums {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-col a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-col ul li {
  margin: 3px 0;
}

.footer-col ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contant2-para {
  width: 30%;
  font-size: 14px;
  margin-top: 20px;
}

/* ----- BOTTOM AREA ----- */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid black;
  padding-top: 10px;
  font-weight: bold;
}

 @media  (max-width: 1115px){
.container-right{
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto 30px;
}
.secondcarousal{
  display: flex;
}
.b1{
  display: none;
}
.b2{
  display: none;
}
.hamburgur{
  margin: 5px;
  display: flex;
}
header ul{
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2x solid black
}
.img-div{
  margin: 5px;
  height: 40px;
}
.container-right ul{
  justify-content: center;
}
.heading h1{
  font-size: 40px;
  font-weight: bold;
}
.heading img{
  width: 150px;
  height: 150px;
  position: relative;
  top: 55px;
  right: 10px;
}
.card-heading{
  margin: 0;
  padding: 0;
}
.card-heading  input{
  margin: 15px 10px 0 0;
  padding: 5px;
  font-size: 15px;
}
.card-heading p{
  padding: 0;
  margin: 25px 0 0 35px;
  font-weight: bolder;
  font-size: 20px;
}
.container2{
  align-items: center;
  width: 100%;
  margin: 50px 30px 0 0;
}
.container-right{
  margin: 0;
}
.container-3-heading{
  display: flex;
  justify-content: center;
  align-items:end ;
  margin: 0px;
  padding: 0px;
}
.container-3-heading h1{
  margin: 0;
  padding: 10px;
  font-size: 5vw;
  font-weight: bold;
  text-wrap: nowrap;
}
.container-3-heading img{
  margin: 0px 0px 0px 85px;
  padding: 0;
  position: relative;
  top: 47px;
}
.footer-img-div{
  height: 40px;
}
.footer-contant-2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-contant-colums {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contant2-para {
  width: 200px;
  font-size: 14px;
  margin-top: 20px;
}
footer{
  margin: 10px;
  /* width: 100%; */
  height: auto;
}
.footer-contant-1{
  justify-content: center;
}
}
