* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F5F7DA;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.signup-box {
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border: 2px solid #C8D400;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  padding: 40px 25px 25px 25px;
  position: relative;
}
.signup-title {
  width: 200px;
  font-weight: 800;
  font-size: 28px;
  text-align: start;
  margin-bottom: 25px;
  color: black;
}
.home-btn {
  background-color: #C8D400;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  transition: 0.3s;
}
.home-btn:hover {
  background-color: #B8C301;
  transform: scale(1.03);
}
.form-input {
  border: 2px solid #B8C301 !important;
  transition: 0.3s;
  padding: 10px;
}
.form-input:focus {
  border-color: #C8D400 !important;
  box-shadow: 0px 0px 10px rgba(200,212,0,0.5) !important;
}
.signup-btn {
  background-color: #C8D400;
  font-weight: bold;
  border-radius: 8px;
  color: black;
  transition: 0.3s;
}
.signup-btn:hover {
  background-color: #B8C301;
  transform: scale(1.03);
}

@media (max-width: 480px) {
  .signup-box {
    padding: 50px 20px 25px 20px;
  }
  .signup-title {
    font-size: 22px;
  }
  .home-btn {
    padding: 6px 12px;
  }
}





